<div class="row">
    <div class="container">
    <form action="themtb" method="post">
      <h2> THÊM THIẾT BỊ </h2>
      <div>
        
          <input class="effect-20" type="text" placeholder="" name='txtma' id="id1ma" 
            value="" />
          <span class="focus-border">
            <i></i>
          </span>
          <button class="btn btn-primary" id="btnsearch" disabled>Search</button>
        
      </div>
      
        <div class="col-3 input-effect">
          Mainboard
          <input class="effect-20" type="text" placeholder="" value="" name="txtmain">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          RAM
          <input class="effect-20" type="text" placeholder="" value="" name="txtram">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          CPU
          <input class="effect-20" type="text" placeholder="" value="" name="txtcpu">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          Hard Disk
          <input class="effect-20" type="text" placeholder="" value="" name="txthdd">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          Monitor Type
          <input class="effect-20" type="text" placeholder="" value="" name="txtmonitor">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          Video Card
          <input class="effect-20" type="text" placeholder="" value="" name="txtvideo">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          Bộ Phận
          <input class="effect-20" type="text" placeholder="" value="" name="txtbophan">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
  
        <div class="col-3 input-effect">
          Loại
          <input class="effect-20" type="text" placeholder="" value="" name="txtloai">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          Người dùng
          <input class="effect-20" type="text" placeholder="" value="" name="txtnguoidung">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          Vị trí
          <input class="effect-20" type="text" placeholder="" value="" name="txtvitri">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="col-3 input-effect">
          OS
          <textarea class="form-control" rows="3" style="resize: none;" value="" name="txtOS" id="idtxtOS"
            type="text"></textarea>
          <!-- <input class="effect-20" type="text" placeholder="" value="" name="txtOS">
          
          <span class="focus-border">
            <i></i>
          </span> -->
          <div style="clear: both;">
  
          </div>
        </div>
  
        <div class="col-3 input-effect">
          Đề Xuất
          <textarea class="form-control" rows="3" style="resize: none;" value="" name="txtdexuat" id="textareadx"
            type="text"></textarea>
          <!-- <input class="effect-20" type="text" placeholder="" value="" name="txtdexuat">
              <span class="focus-border">
                  <i></i>
              </span> -->
        </div>
        <div class="col-3 input-effect">
          Notes
          <textarea class="form-control" rows="10" cols="50" value="" name="txtnotes" id="textarea"
            type="text"></textarea>
          <!-- <input class="effect-20" type="text" placeholder="" value="" name="txtnotes"> -->
          <!-- <span class="focus-border">
                  <i></i>
              </span> -->
        </div>
  
        <div class="col-3 input-effect">
  
          <button class="btn btn-primary" type="submit" id="btncapnhat" >THEM VAO DATABASE</button>
  
        </div>
        <div>
          <!-- <input type="text" id="idma" name="txtma" hidden="true" /> -->
        </div>
      </form>
    </div>
  </div>
  